:root{
    --primary-color: rgb(37, 27, 55);
    --secondary-color: rgb(55, 41, 72);
    --third-color: rgb(255, 202, 202);
    --fourth-color: rgb(255, 236, 239);
}

*{
    margin: 0;
    padding: 0;
}

body{
    color: var(--third-color);
    background-color: var(--secondary-color);
}

.main-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playing-area{
    width: 30vw;
    height: 60vh;
    overflow: hidden;
    background-color: var(--third-color);
    /* transition: all 3s ease-in; */
}

.playing-area div{
    display: flex;
    justify-content: center;
    align-content: center;
}

.playing-area div span{
    height: calc(60vh / 4);
    width: calc(30vw / 4);
    background-color: var(--third-color);
    text-align: center;
    border: 1px solid var(--secondary-color);
}
/* https://tenor.com/view/coin-op-coin-op-game-over-game-gif-25038182 */
/* <div style="width:480px"><iframe allow="fullscreen" frameBorder="0" height="600" src="https://giphy.com/embed/G7cIi98l3vhiyQmXzo/video" width="480"></iframe></div> */